[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-chaincode-java-committers
	read = group GitHub Replication
	create = group ldap/hyperledger-gerrit-fabric-chaincode-java-committers
[access "refs/tags/*"]
	createTag = group ldap/hyperledger-gerrit-fabric-chaincode-java-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-chaincode-java-committers
	push = group ldap/hyperledger-gerrit-fabric-chaincode-java-committers
