[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-chaincode-java-committers
	owner = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	read = deny group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-chaincode-java-committers
	create = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[access "refs/tags/*"]
	createTag = group ldap/hyperledger-gerrit-fabric-chaincode-java-committers
	createTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-chaincode-java-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	push = group ldap/hyperledger-gerrit-fabric-chaincode-java-committers
	push = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[project]
	description = Hyperledger Fabric Java chaincode
